.who {
  height: max-content;
  margin-top: clamp(10rem, 20vw, 15rem);
  margin-bottom: clamp(10rem, 20vw, 15rem);
  padding-top: clamp(1.5rem, 2vw, 3rem);
  padding-bottom: clamp(1.5rem, 2vw, 3rem);
  padding-left: clamp(1.5rem, 2vw, 3rem);
  padding-right: clamp(1.5rem, 2vw, 3rem);
  width: 95vw;
}
.who__container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.who__col {
  width: fit-content;
  height: fit-content;
}
.who__img {
  height: auto;
  width: clamp(20rem, 45vw, 50rem);
}
.who__main {
  font-size: clamp(2.4rem, 3vw, 6rem);
}
.who__secondary {
  font-size: clamp(1.6rem, 1.5vw, 2.8rem);
  padding-bottom: clamp(1.4rem, 2vw, 2.8rem);
}
@media only screen and (max-width: 1024px) {
  .who__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 510px) {
}
